/* Estilos generales */
:root{
    --color-fondo: linear-gradient(to right, rgba(5, 72, 130, 0.708), rgb(5, 3, 48));
    --color-texto-poster: rgb(0, 0, 0);
    --color-texto-formulario: rgb(59, 59, 59);
    --color-btn: linear-gradient(to right, rgba(2, 53, 95, 0.842), rgba(0, 0, 0));
    --color-login-text: white;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-image: url(../Assets/galaxy.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1, h2, p {
    color: var(--color-login-text);
}

.container {
    background-color: var(--color-fondo);
    display: flex;
    width: 70%;
    max-width: 600px;
    height: 70%;
    max-height: 500px;
    margin: auto;
    gap: 10px;
    color: var(--color-texto-poster);
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.3); /* Fondo translúcido */
    backdrop-filter: blur(10px); /* Desenfoque del fondo */
    -webkit-backdrop-filter: blur(10px); /* Para compatibilidad con Safari */
}

/* Ocultar el contenedor del póster */
.container-poster {
    display: none;
}

/* Estilos para el formulario */
.container-formulario {
    width: 100%; /* Haz que ocupe todo el ancho */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.container-formulario h2 {
    margin-bottom: 20px;
    font-weight: bolder;
}

.container-formulario form {
    width: 100%;
}

.container-formulario input {
    display: block;
    border-radius: 4px;
    width: 90%;
    margin: 10px auto;
    padding: 10px;
    border: 1px solid var(--color-texto-formulario);
}

.container-formulario .btn {
    background-color: rgba(35, 33, 33, 0.598);
    color: var(--color-texto-poster);
    transition: 0.3s ease;
}

.container-formulario .btn:hover {
    background-color: var(--color-btn);
    color: var(--color-texto-poster);
}

/* Responsivo */
@media (max-width: 767px) {
    .container {
        width: 90%; /* Para dispositivos móviles, haz que ocupe la mayor parte del ancho */
    }
}
