:root {
    --color-fondo: linear-gradient(to right, rgba(0, 140, 158), rgb(6, 5, 20));
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url(../Assets/animesher.com_stars-gif-aesthetic-anime-1916094.gif) no-repeat center center/cover;
    font-family: "Roboto", sans-serif;
    background-size: cover; /* Asegura que la imagen se extienda completamente */
    height: 100vh; /* Hace que el fondo cubra toda la altura de la pantalla */
    margin: 0;
}
.dasboar-color{
    color: white;
}



/* Estilo general para el contenedor */
.contenedor-nav {
    width: 100%;  
    position: fixed;
    top: 0;
    display: flex;
    background-color: rgba(0, 0, 0, 0.737);
    z-index: 1000;
    justify-content: space-around;
    align-items: center;

    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.756); /* Añade sombra para distinguir el nav */
}
.user-name{
    color: white;
}
.contenedor-nav ul{
    display: flex;
    list-style: none;
    gap: 20px;
}
.Bienvenido{
    padding: 20px;
        font-size: 1.5rem;
        color: aqua;
    
}


/* Aplica un margen superior para evitar que el contenido se superponga con el nav */
.container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 50px;
    margin-top: 80px; /* Ajusta este valor según la altura de tu nav */
    text-align: center;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.693);
}


/* Estilo para los encabezados */
h1 {
    color: #333;
    margin-bottom: 10px;
}

h2 {
    color: #666;
    margin-top: 10px;
}

/* Estilo para el formulario de búsqueda */
form {
    margin-bottom: 20px;
}

input[type="text"] {
    padding: 10px;
    width: 70%;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 15px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
}

button:hover {
    background-color: #0056b3;
}

/* Estilo para la cuadrícula de mangas */
.manga-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 5 columnas */
    gap: 20px; /* Espacio entre las imágenes */
    justify-items: center;
    margin-top: 20px;
}

.manga-item {
    text-align: center;
}

.manga-cover {
    width: 250px;
    height: auto;
    gap: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
    margin-top: 10px;
    font-size: 1.2rem;
    color: #333;
}

/* Estilo para los mensajes de error */
.error {
    color: red;
    margin-top: 10px;
}
