body {
    background: url('../Assets/06-51-32-766_512.gif') no-repeat center center/cover;
    background-size: cover; /* Asegura que la imagen se extienda completamente */
    height: 100vh; /* Hace que el fondo cubra toda la altura de la pantalla */
    margin: 0;
}


.header-container{
    background-color: rgba(26, 12, 12, 0.273);
}
.section-list{
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    height: 100vh;
}

img{
    height: 48px;
    width: 5%;
}

.manga-box {
    border: 1px solid #ccc; /* Borde para la caja */
    border-radius: 8px; /* Bordes redondeados */
    padding: 10px; /* Espacio interno */
    margin: 10px 0; /* Espacio entre las cajas */
    background-color: rgba(255, 255, 255, 0.8); /* Fondo ligeramente transparente */
    display: flex; /* Para alinear los elementos en fila */
    justify-content: space-between; /* Espacio entre elementos */
    align-items: center; /* Centrar verticalmente */
}

.delete-button {
    margin-left: 10px; /* Espacio entre el enlace y el botón */
    border: 0;
    background-image: linear-gradient(
        150deg,
        rgba(212, 1, 198, 0.883),
        #09F,
        #00DDFF
    );
    border-radius: 8px;
    color: #fff;
    display: flex;         /* Permite flex en el contenido del botón */
    font-size: 18px;
    padding: 4px;
    cursor: pointer;
    transition: 0.3s;
}

.back-button{
    margin-left: 10px; /* Espacio entre el enlace y el botón */
    border: 0;
    background-image: linear-gradient(
        150deg,
        rgba(212, 1, 198, 0.883),
        #09F,
        #00DDFF
    );
    border-radius: 8px;
    color: #fff;
    display: flex;         /* Permite flex en el contenido del botón */
    font-size: 18px;
    padding: 4px;
    cursor: pointer;
    transition: 0.3s;
}

